main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}


.card__img{
  width: 250px;
}